<meta name="twitter:card" content="summary" />	
	<meta name="twitter:site" content=“@numpy_team" />
	<meta name="twitter:creator" content=“@numpy_team" />
	<meta property="og:url" content="https://numpy.org/" />
	<meta property="og:title" content="NumPy - the fundamental package for scientific computing with Python." />
	<meta property="og:description" content="NumPy brings the computational power of languages like C and Fortran to Python, a language much easier to learn and use. With this power comes simplicity: a solution in NumPy is often clear and elegant." />
	<meta property="og:image" content="https://github.com/numpy/numpy/blob/master/branding/logo/primary/numpylogo.svg" />
